$color-border: rgba(0, 0, 0, .12);
$text-color: #333;

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: $text-color;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    width: 100%;
    border-collapse: collapse;

    &__row {
        border-top: 1px solid $color-border;
    }

    &__cell {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        text-align: left;
        position: relative;
    }
}

.color-picker {
    position: relative;

    &__button {
        width: 100%;
        height: 40px;
        border: none;
        display: block;
        cursor: pointer;
    }

    &__popover {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
    }

    &__cover {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}